:root {
	--main-fg-color: #ffffff;
	--accent-color: #0000ff;
	--faded-accent-color: #ff00ff88;
	--section-bg-color: #777777;
	--border-hover:#ffff00;
	--player-one:#ff00ff;
	--player-two:#ff0000;
}



html,
body {
	background-color: #222222;
	color: var(--main-fg-color);
}

li {
	float: left;
	/*makes it so all text is as far left as posible*/
	display: inline;
	transition: all 1.75s ease;

	/* border-bottom: 5px solid transparent;/*var(--section-bg-color); */

}



li a {
	display: block;
	color: var(--main-fg-color);
	text-align: left;
	padding: 10px 12px;
	text-decoration: none;
}

a {
	background-color: transparent;
	/*var(--section-bg-color);*/
	transition: all 1.75s ease;
	border: 1px solid transparent;

}


li:hover>a {
	color: var(--accent-color);
	background-color: #000000;
	/* border: 1px solid var(--accent-color); */
	box-shadow: 0rem 0rem 1rem var(--faded-accent-color) inset;
}

ul {
	background-color: var(--section-bg-color);
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	position: sticky;
	border-radius: 50px;
	background-image: linear-gradient(120deg, rgba(119, 119, 119, .5), var(--accent-color));

}

.board {
	/* border: 1px solid #ffffff; */
	position: fixed;
	left:33.3%;
	margin-top: 40px;
	display: flex;
	justify-content: center;
	background-image: linear-gradient(120deg, rgba(255, 0, 0, 0.5), var(--accent-color));
}

div.col>div {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.col:nth-child(even)>div:nth-child(even),
div.col:nth-child(odd)>div:nth-child(odd) {
	transition: all 1s ease;
	border: 1px solid #00ff00;
	background-color: #000000;
}

div.col:nth-child(even)>div:nth-child(even):hover,
div.col:nth-child(odd)>div:nth-child(odd):hover {
	box-shadow: 0rem 0rem 1.25rem var(--border-hover) inset;
	background-color: #000000;
}

div.col:nth-child(even)>div:nth-child(odd),
div.col:nth-child(odd)>div:nth-child(even) {
	transition: all 1s ease;
	border: 1px solid #00ff00;
	background-color: transparent;
}

div.col:nth-child(even)>div:nth-child(odd):hover,
div.col:nth-child(odd)>div:nth-child(even):hover {
	box-shadow: 0rem 0rem 1.25rem var(--border-hover) inset;
	background-color: #00000088;
}


.player1{
	background-color: var(--player-one);
	border-radius: 100%;
	width:40px;
	height: 40px;
}

.player2{
	background-color: var(--player-two);
	border-radius: 100%;
	width:40px;
	height: 40px;
}