:root {
	--color-bg: #222;
	--color-fg: #fff;
	--color-accent: #ff00ff;
}

.light-mode {
	--color-bg: #fff;
	--color-fg: #222;
	--color-accent: #ff00ff;
}

body,
html {
	background:var(--color-bg);
	color: var(--color-fg);
	overscroll-behavior: none;
}

#myDiv {
	width: 55%;
	aspect-ratio: 5/4;

	border: 10px double var(--color-accent);
	background: transparent;

	border-radius: 10%;
}
#myCanvas {
	width: 100%;
	aspect-ratio: 5/3.25;
}
#score {
	text-align: center;
	font-size: 6vw;
}

.center {
	/* centers the element within div */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}