body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
} */

th, td {
    padding: 10px;
    text-align: center;
}
td input[type="number"],
td input[type="text"],
td input[type="time"] {
    text-align: center;
    width: 90%;
    padding: 5px;
}

.sticky-label {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 2;
}